@model Medlink.Models.UserModel

@{
    ViewData["Title"] = "Setting";
    var obj = Model;
}

<h1>Setting</h1>


        <form class="form m-3" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
<div class="row">
    <div class="col-md-4">
        <h5>Edit Profile</h5>
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="user_id" value="@obj.user_id" />
            <input type="hidden" asp-for="email" value="@obj.email" />
            
            <div class="form-group">
                <label asp-for="fullname" class="fw-bolder">Fullname...</label>
                <div class="form-group">
                    <input asp-for="fullname" id="fullname" class="form-control " value="@obj.fullname" />
                    <span asp-validation-for="fullname" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="fw-bolder">Username...</label>
                <div class="form-group">
                    <input asp-for="username" id="username" class="form-control " type="text" value="@obj.username" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="specialty" class="fw-bolder">Specialty...</label>
                <div class="form-group">
                    <input asp-for="specialty" id="specialty" class="form-control " type="text" value="@obj.specialty" />
                    <span asp-validation-for="specialty" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="fw-bolder">Password...</label>
                <div class="form-group">
                    <input asp-for="password" id="password" class="form-control" type="text" value="@obj.password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="education" class="fw-bolder">Education...</label>
                <div class="form-group">
                    <input asp-for="education" id="education" class="form-control " type="text" value="@obj.education" placeholder="Highest level of Education obtained"/>
                    <span asp-validation-for="education" class="text-danger"></span>
                </div>
            </div>
            
    </div>

    <div class="col-md-8">
        <h4>Account Settings</h4>
                <div class="d-flex p-3 " style="gap:25px;align-items:center">
                    <h6>Private</h6>
                        <input type="text" id="visibility" asp-for="@obj.visibility" name="boolyValue" hidden/>
                    <label class="switch">
                    <input  type="checkbox" @(obj.visibility == "true" ? "checked" : "") onchange="update(this)" />
                    <span class="slider"></span>
                    </label>
                    <h6>Public</h6>
            </div>
            <div class="form-group">
                <label asp-for="profile">Profile Image:</label>
                <input asp-for="profile" type="file" name="profile" accept=".jpg, .jpeg, .png" class="form-control" />
            </div>

            <div class="form-group">
                <label for="bio" class="fw-bolder">Bio...</label>
                <div class="form-group">
                    <textarea asp-for="bio" id="bio" class="form-control" value="@obj.bio" rows="6"></textarea>
                    <span asp-validation-for="bio" class="text-danger"></span>
                </div>
            </div>
    </div>
</div>

    <div class="form-group mt-2 col-4">
        <button class="btn btn-go text-light col-8 btn-lg" type="submit">Save</button>
    </div>

        </form>

<script>
    function validateForm() {
        var bioTextArea = document.getElementById("bioTextArea");
        var bioValue = bioTextArea.value;

        if (bioValue.length > 100) {
            alert("Bio exceeds 100 characters.");
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }

</script>